.section {
    width: 800px;
    display: flex;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dates {
    font-size: larger;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding: 20px;
}